<h2 class="title">Como Funciona?</h2>

<div class="como-funciona-container">

  <div class="passo">
    <h3>1. Escolha os ingredientes que possui em casa</h3>
    <img src="img/passo1.png" alt="Escolha dos ingredientes">
  </div>

  <div class="passo">
    <h3>2. Aperte o botão para buscar receitas</h3>
    <img src="img/passo2.png" alt="Botão buscar receitas">
  </div>

  <div class="passo">
    <h3>3. Veja as sugestões de receitas de acordo com os ingredientes escolhidos</h3>
    <img src="img/passo3.png" alt="Sugestões de receitas">
  </div>

  <div class="passo">
    <h3>4. Caso não haja receitas com os ingredientes selecionados, o site buscará receitas com ingredientes semelhantes</h3>
    <img src="img/passo4.png" alt="Busca com ingredientes semelhantes">
    <span>Nesse caso o ingrediente selecionado foi <strong>banana</strong>, então o site retornou receitas que tenham banana na sua composição.</span>
</div>


</div>
