<h2>Selecione os ingredientes:</h2>

<div class="ingrediente_label">
  <div class="ingrediente_card" *ngFor="let ing of ingredientes"
       (click)="toggleSelecionado(ing.id)"
       [style.border]="selecionados.includes(ing.id) ? '4px solid #7d4419d7' : '1.5px solid #f1cfa5a4'">
    <img [src]="ing.fotoUrl" alt="{{ ing.nome }}"/>
    <p>{{ ing.nome }}</p>
  </div>
</div>
<div class="botao">
  <p class="aviso">{{aviso}}</p>

  <button (click)="buscarReceitas()">Buscar Receitas</button>
</div>


<h2>{{titulo}}</h2>

<div class="receita_container" *ngIf="receitas.length > 0" >

  <div *ngFor="let rec of receitas" class="receita_label">

    <div class="receita_card">
        <h3>{{ rec.nome }}</h3>
        <img [src]="rec.fotoUrl"/>
        <p class="descricao">{{ rec.descricao }}</p>
        <a [href]="rec.linkTutorial" target="_blank" rel="noopener noreferrer">Tutorial</a>
        <p class="ingredientes"><strong>Ingredientes:</strong> {{ formatarIngredientes(rec.ingredientes) }}</p>
    </div>

  </div>

</div>

